.clock-area {
    max-width: 500px;
    min-width: 100px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 32px;
    padding: 10px;
    font-weight: bold;
    background: #fefcf0;
    width: 200px;
    height: 80px;
    margin: auto;
    border-radius: 5%;
    border: 14px solid #f5b08f;
    position: relative;
    box-shadow: 0 2vw 4vw -1vw rgb(0 0 0 / 80%);
    color: #3f1f0b;
}